$mustard: #5A7D7C;

$Normal: #929DA3;
$Fighting: #CE416B;
$Flying: #8FA9DE;
$Ground: #E19F87;
$Poison: #BF99D4;
$Rock: #d3c8aa;
$Bug: #add080;
$Ghost: #8e97c0;
$Steel: #90acb8;
$Fire: #ffb68d;
$Water: #8cade0;
$Grass: #94cb91;
$Electric: #f6dd83;
$Psychic: #fa9c9d;
$Ice: #9cdacd;
$Dragon: #7a99cf;
$Dark: #908d96;
$Fairy: #f2adec;
